:root {
    --header-color : #eaeaea;
    --margin-header : 5px;
    --notify-bg : #8edafc;
    --message-sent : #d5f9ba;
    --message-recived : #ffffff;
}

.background{
    height: 100vh;
    background: linear-gradient(to bottom, #009688 15%, #dbdbd4 15%);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.background > .container-chat {
    height: 90%;
    width: 1500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 21px -3px rgba(0,0,0,0.15);
}

.container-chat > aside{
    border-right: 1px solid lightgray;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.col-header{
    height: 70px;
    background-color: var(--header-color);
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-frame{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}

.img-frame > img, .img-frame-chat > img{
    border-radius: 50%;
    width: 100%;
}

.name{
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: var(--margin-header);
}

.list-unstyled > li{
    margin: var(--margin-header);
}

.list-unstyled > li > button{
    font-size: 1.2rem;
    background: none;
    border: none;
    color: gray;
}

.notify{
    background-color: var(--notify-bg);
    display: flex;
    align-items: center;
    padding: 8px 15px;
}

.icon-frame{
    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--notify-bg);
    border-radius: 50%;
}

.icon-frame > *{
    font-size: 1.2rem;
}

.notify p{
    font-weight: 600;
    font-size: 0.9rem;
}

.notify a{
    font-weight: 400;
    color: gray;
    font-size: 0.9rem;
}

.search-chat{
    display: flex;
    justify-content: center;
    padding: 9px;
    background-color: var(--header-color);
}

aside .input-group{
    height: 35px;
}
span.input-group-text{
    color: gray;
}
.form-control:focus{
    box-shadow: none;
}


.img-frame-chat{
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}

.chat-group{
    overflow: auto;
    height: 100%;
    min-height: 100px;
}

.chat-group > div > div{
    
    border-top: 1px solid var(--header-color);
}

.chat-group > div > div:hover{
    background-color: rgb(238, 238, 238);
}

.active{
    background-color: lightgray;
}

.chat-info{
    margin-left: 12px;
}

.small-chat-info{
    color: gray;
    font-size: 0.8rem;
}

.small-chat-last{
    color: gray;
    font-size: 0.8rem;
}

.name-chat{
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

.container-message{
    background-image: url(../img/mine.jpg);
    background-position: center;
    overflow: auto;
    height: 100%;
}

.col-footer{
    background-color: var(--header-color);
    height: 80px;
    padding: 12px 0;
}

main{
    height: 100%;
    overflow: hidden;
}

main .input-group{
    height: 50px;
}

.col-footer button {
    font-size: 1.3rem;
    background: none;
    border: none;
    color: gray;
}

.message{
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 50%;
    word-break: break-all;
}

.message .small-chat-info{
    bottom: 15px;
}

.accordion{
    padding: 2px;
    display: block;
    filter: opacity(0);
    box-shadow: 2px 3px 21px -3px var(--message-sent);
}

.message:hover .accordion{
    filter: opacity(1);
}

.message-sent{
    justify-content: flex-end;
}

.message-sent > div{
    background-color: var(--message-sent);
}

.message-recived > div{
    background-color: var(--message-recived);
}

.accordion-menu{
    background-color: white;
    border: 1px solid lightgray;
    padding: 0;
    border-radius: 8px;
    display: block;
    
}

.accordion-menu > li {
    padding: 10px 10px;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.accordion-menu > li:last-child {
    border-top: 1px solid lightgrey;;
}

